/home/naten/Documents/Unif/Thesis/Tekst/thesis.aux
/home/naten/Documents/Unif/Thesis/Tekst/thesis.bbl
/home/naten/Documents/Unif/Thesis/Tekst/thesis.blg
/home/naten/Documents/Unif/Thesis/Tekst/thesis.fdb_latexmk
/home/naten/Documents/Unif/Thesis/Tekst/thesis.fls
/home/naten/Documents/Unif/Thesis/Tekst/thesis.log
/home/naten/Documents/Unif/Thesis/Tekst/thesis.out
/home/naten/Documents/Unif/Thesis/Tekst/thesis.synctex.gz
/home/naten/Documents/Unif/Thesis/Tekst/thesis.toc
