thesis.aux
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.log
thesis.out
thesis.synctex.gz
thesis.toc
thesis.pdf
thesis.acn
thesis.glo
thesis.glsdefs
thesis.ist
p.aux
pr.aux
thesis.run.xml
chapters/introduction.aux
chapters/literature_review.aux
chapters/problem_statement.
chapters/symbols_and_abbr.aux
chapters/problem_statement.aux
chapters/background_and_motivation.aux
python/venv
appendix/data_fields.aux
appendix/exercise_specification.aux
appendix/group_settings.aux
appendix/questionnaire.aux
appendix/teacher_manual.aux
appendix/adaptive_consistency.aux
chapters/background_and_motivation.aux
chapters/conclusion_and_further_work.aux
chapters/discussion.aux
chapters/exercise_tools.aux
chapters/experimental_setup.aux
chapters/rekenrangers.aux
chapters/results.aux
COC.aux
